* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 16px;
}

.page {
	width: 80%;
	margin: 0px auto;
	padding: 30px;
	background-color: #ddd;
	color: #535353;
}

a {
	text-decoration: none;
	color: inherit;
}

header h1 {
	text-align: center;
	color: navy;
	transition: all 0.8s;
}

.shadow {
	text-shadow: 2px 2px yellow;
}

.nav {
	background-color: #eee;
}

nav ul {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	padding: 15px 0;
	border-bottom: 3px solid navy;
	margin-bottom: 15px;
}

nav li {
	list-style: none;
}
nav li a:hover{
	color: orange;
}
section{
	padding: 20px;
}

article {
	box-shadow: 0 0 15px -3px;
	padding: 10px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin: 20px 0;
}



figure {
	width: 30%;
	text-align: center;
	margin-right: 15px;
}

figcaption {
	font-style: italic;
	font-weight: 600;
	font-size: 0.825rem;
}




/*======================================
				FOOTER
======================================*/

footer {
	text-align: center;
	padding-top: 15px;
	margin-top: 15px;
	border-top: 3px solid navy;
}


